@charset "UTF-8";

/* 共通 */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: #000000;
    background-color: #f0ebebe8;
    font-size: 2rem;
    font-style: normal;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper {
    padding: 16px;
}

.eng_language {
    letter-spacing: 0.1rem;
}

li {
    list-style: none;
}

a {
    color: #514e4e;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    line-height: 0;
}

img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    vertical-align: bottom;
}

/* ヘッダー */
.nav_wrapper {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo {
    display: block;
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
    line-height: 0;
}


.nav_menu_list {
    display: flex;
    justify-content: left;
    gap: 30px;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 500;
}

.contact {
    display: none;
}

/* メイン */
h2 {
    font-size: 3.6rem;
    font-weight: normal;
    letter-spacing: 1rem;
}

.main_img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/2;
    object-fit: cover;
    vertical-align: bottom;
}

.about_img {
    width: 100vw;
    max-width: none;
    height: auto;
    margin-left: -16px;
    aspect-ratio: 5/4;
    object-fit: cover;
    vertical-align: bottom;
}

/* ニュース */
.news_wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 30px 0px 46px;
}

.sub_title {
    display: inline-block;
    width: 30%;
    border-bottom: 1px solid #000000;
    margin: 0px 0px 15px 0px;
    padding-bottom: 15px;
    font-size: 1.3rem;
}

.news_title {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 1rem;
    margin-bottom: 16px;
}

.heading_title,
time {
    font-size: 1.4rem;
    font-weight: normal;
    display: block;
    margin-top: 20px;
}


time::after {
    content: "NEWS";
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 0.5px 5px;
    margin-left: 15px;
    border: 1px solid #514e4e;
    text-indent: 0em;
}

/* ABOUT */
.about,
.bus {
    display: flex;
    flex-direction: column;
    margin: 30px 10px 80px 10px;
}

.about_text {
    line-height: 1.5;
    font-size: 1.5rem;
}

.about_img {
    width: 100%;
    max-height: 400px;
}

/* BUSINESS */


.bus_img {
    width: 1000px;
    height: auto;
    vertical-align: bottom;
    margin: 20px 0;
}

.bus_list li {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    text-indent: 1.5em;
}

.bus_list li::before {
    display: block;
    position: absolute;
    content: "－";
    left: -25px;
    color: #000000;
    font-weight: bold;

}



/* 会社情報 */
.company_wrapper {
    overflow: visible;
    padding: 0;

}

.company_back_ground {
    background-color: #ffffff;
    width: 100%;
    padding: 30px 20px;
    margin: 0 0 30px 0;
}

.info {
    line-height: 2;
    font-size: 1.4rem;
}

.info dd {
    padding-bottom: 10px;
    padding-left: 10px;
}

.company_info_list_last {
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 1;
}

.last_img {
    margin: 30px auto;
    max-width: 1000px;
    height: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    z-index: 99;
}

/* フッター */
.footer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 16px;
}

.footer_info {
    padding-bottom: 30px;
}

.footer_last_info {
    line-height: 1.5;
    font-size: 1.4rem;
}

.copy_right {
    font-size: 1rem;
}










/* =================================================
  デスクトップ用レイアウト（900px以上）
================================================= */
@media(min-width: 900px) {

    /* --- ヘッダー・ナビゲーション --- */

    .nav_wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 35px;
        margin: 0;

    }

    .nav_menu_left {
        width: 80%;
        display: flex;
        align-items: center;

    }

    .logo {
        width: 100px;
        height: auto;
        line-height: 0;
        margin-left: 30px;
    }


    .nav_menu_list {
        gap: 25px;
        margin-left: 30px;
    }

    .contact {
        width: 20%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: #000000;
        color: #ffffff;
        padding: 30px;
        text-decoration: none;
    }





    /* --- メインビジュアル --- */
    .main_img {
        width: 100%;
        aspect-ratio: 16 / 9;
        max-height: 90vh;
        object-fit: cover;
    }

    /* --- ニュースセクション --- */
    .news_wrapper {
        margin: 5% 10% 10% 10%;
        gap: 10px;
    }

    .news_title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    time {
        font-size: 1.2rem;
    }

    article {
        border-left: 1px solid #000000;
        padding: 0px 50px 10px 30px;
    }

    .art1 {
        border: none;
    }

    .heading_title {
        display: block;
        line-height: 1;
        padding: 1.5rem;
        padding-left: 0rem;
        font-size: 1.5rem;
        margin-top: 0rem;
    }

    /* --- ABOUTセクション --- */
    .about_wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about {
        margin: 30px;
        padding-top: 150px;
    }


    .about_img {
        display: block;
        aspect-ratio: 1 / 1;
        width: 100%;
    }

    .about_text {
        line-height: 4;
    }

    .about .about_text:first-of-type {
        padding-top: 15px;
    }

    /* --- BUSINESSセクション --- */
    .bus_wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    .bus {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .bus_top {
        margin-bottom: 30px;
    }

    .bus_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 1000px;
        align-items: start;
        margin: 0 auto;
        gap: 40px 60px;
        grid-template-areas:

            "...... area_b"
            "...... area_b"
            "area_a area_b"
            /* 1行目：左にa、右は空き */
            "area_a area_d"
            /* 2行目：左にa、右にb */
            "area_c area_d"
            /* 3行目：左にc、右にb */
            "area_c area_d"
            /* 4行目：左にc、右にd */
            "...... area_d";
        /* 5行目：左は空き、右にd */
    }

    .area_a {
        grid-area: area_a;
    }

    .area_b {
        grid-area: area_b;
    }

    .area_c {
        grid-area: area_c;
    }

    .area_d {
        grid-area: area_d;
    }

    .list {
        font-weight: bold;
        font-size: 1.5rem;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .list::before {
        display: none;
    }


    .bus_img {
        width: 400px;
        height: auto;
        aspect-ratio: 5 / 3;
        vertical-align: bottom;
        padding-top: 5px;
    }

    /* --- 会社情報・フッター --- */
    .company_wrapper {
        width: 100%;
    }

    .company_back_ground {
        background-color: #ffffff;
        width: 60%;
        height: 50%;
        padding: 50px 50px;
        margin: 0 0 30px 0;
    }

    .last_img_wrapper {
        position: relative;
    }


    .last_img {
        width: 60%;
        height: auto;
        position: absolute;
        bottom: 150px;
        right: 10px;
        aspect-ratio: 3/2;
        object-fit: cover;
        z-index: 99;
        padding: 0px;
        margin: 0px;
    }

    /* フッター */
    .footer_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: left;
        background-color: #ffffff;
        padding: 50px 60px;
        margin: 0px;
    }

    .footer_info {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
    }

    .footer_last_info {
        line-height: 1.5;
        font-size: 1.4rem;
        padding: 0px;
        margin: 0px;
    }

    .copy_right {
        font-size: 1.2rem;
        padding-top: 30px;
        margin-left: 30px;
    }
}